In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier

In [2]:
df=pd.read_csv('/home/anu/Downloads/ad.data',header=None)
df

/home/anu/yes/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,0,1,2,3,4,5,6,7,8,9,...,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558
0,125,125,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
3,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
4,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274,170,94,0.5529,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3275,101,140,1.3861,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3276,23,120,5.2173,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3277,?,?,?,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3278,40,40,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.

In [3]:
#this data is already preprocessed
#first 3 features are height ,width, and aspect ratio
#remaining are vectorized form of text data

In [4]:
df.isnull().sum()

0       0
1       0
2       0
3       0
4       0
       ..
1554    0
1555    0
1556    0
1557    0
1558    0
Length: 1559, dtype: int64

In [5]:
#df.df.iloc[: , -1].replace(('ad.', 'nonad.'), (1, 0), inplace=True)

In [6]:
new_df=pd.get_dummies(df.iloc[: , -1])
new_df

      ad.  nonad.
0       1       0
1       1       0
2       1       0
3       1       0
4       1       0
...   ...     ...
3274    0       1
3275    0       1
3276    0       1
3277    0       1
3278    0       1

[3279 rows x 2 columns]

In [7]:
df2=pd.concat((df,new_df),axis=1)
df2

,0,1,2,3,4,5,6,7,8,9,...,1551,1552,1553,1554,1555,1556,1557,1558,ad.,nonad.
0,125,125,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,ad.,1,0
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,ad.,1,0
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,ad.,1,0
3,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,ad.,1,0
4,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,ad.,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274,170,94,0.5529,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,nonad.,0,1
3275,101,140,1.3861,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,nonad.,0,1
3276,23,120,5.2173,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,nonad.,0,1
3277,?,?,?,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,nonad.,0,1
3278,40,40,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,nonad.,0,1

In [8]:
X=df2.iloc[: , :-2]
X

,0,1,2,3,4,5,6,7,8,9,...,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558
0,125,125,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
3,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
4,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274,170,94,0.5529,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3275,101,140,1.3861,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3276,23,120,5.2173,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3277,?,?,?,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.
3278,40,40,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad.

In [9]:
y=df2.iloc[:-2]
y

,0,1,2,3,4,5,6,7,8,9,...,1551,1552,1553,1554,1555,1556,1557,1558,ad.,nonad.
0,125,125,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,ad.,1,0
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,ad.,1,0
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,ad.,1,0
3,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,ad.,1,0
4,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,ad.,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3272,106,110,1.0377,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,nonad.,0,1
3273,30,30,1.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,nonad.,0,1
3274,170,94,0.5529,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,nonad.,0,1
3275,101,140,1.3861,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,nonad.,0,1
3276,23,120,5.2173,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,nonad.,0,1

In [ ]:
new_df=pd.join('new')